*.zig text eol=lf
*.md text eol=lf
*.h text eol=lf
*.c text eol=lf
*.txt text eol=lf
*.cy text eol=lf

*.cy linguist-language=Text
**.cy linguist-language=Text
cyber/examples/account.cy linguist-language=Text
cyber/examples/*.cy linguist-language=Text
