/zig-cache/
/zig-out/
/notes.md
/todo.md
/site
/docs-todo.md
/temp.cy
/test.txt
/test/assets/write.txt
/exts/vscode/cyber-0.0.1.vsix
/examples/libfoo.so
/examples/web-playground/cyber.wasm
/cyber.s
/scratch.zig
/scratch
/scratch.o
*.class
