/zig-cache/
/zig-out/
/notes.md
/todo.md
/site
/docs-todo.md
/docs/hugo/themes
/docs/hugo/resources
/docs/hugo/.hugo_build.lock
/docs/hugo/public
/temp.cy
/test.txt
/test/assets/write.txt
/exts/vscode/cyber-0.0.1.vsix
/examples/libfoo.so
/examples/web-playground/cyber.wasm
/cyber.s
/scratch.zig
/scratch
/scratch.o
*.class
.DS_Store
/cyber.sublime-project
/cyber.sublime-workspace
